.chatbox{
    position: fixed;
    width: 380px;
    height: 500px;
    background-color: rgb(216, 216, 216);
    z-index: 100;
    bottom: 20px;
    right: 10px;
    border-radius: 5px;
    border: 1px solid #3f51b5;
    display: none;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);;
}

.chatbox .chatbox-head{
    background: linear-gradient(45deg, #3f51b5 30%, #5360ff 90%);
    color: white;
    position: relative;
}

.chatbox .chatbox-head i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.chatbox .chatbox-head i:hover{
    color: rgb(216, 216, 216);
}

.chatbox-button{
    position: fixed;
    z-index: 99;
    bottom: 50px;
    right: 50px;
}

.chatbox-button .title{
    color:white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: absolute;
    top:-5px;
    left:50%;
    transform: translateX(-50%);
  }

.chatbox-button .btn-container{
    width: 70px;
    height: 70px;
    background-color: #3f51b5;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    border:1px solid rgb(216, 216, 216);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.chatbox-button .btn-container:hover{
    background-color: #5360ff;
}

.chatbox-button i{
    color: rgb(216, 216, 216);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* chatscreen */
.chat-screen {
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}

.chat-screen > div:last-child {
    scroll-snap-align: end;
}

.chat-screen > div {
    background: lightgray;
}
.chat-screen > div:nth-child(2n) {
    background: gray;
}


/* 
##Device = Low Resolution Tablets, Mobiles
##Screen = B/w below 767px
*/
@media (max-width: 767px) {
    .chatbox-button{
        position: fixed;
        z-index: 99;
        bottom: 20px;
        right: 20px;
    }
    .chatbox{
        right: 15px;
        width: 93%;
    }
}